<ng-container *ngIf="hasPhoto">
<div class="our_photos">
    <div class="photo_box">
        <figure> 
            <img src={{photo?.img}} width="500" height="400" alt="img" />
        </figure>
        <h3>{{ photo?.title }}</h3>
        <h2>£{{ photo?.price }}</h2><br>
        <p>{{photo?.description}}</p>
    </div>
    <ng-container *ngIf="!isOwner">
        <button type="submit" class="btn">Like</button>
    </ng-container>
    <ng-container *ngIf="isOwner">
        <button [routerLink]="['/photos/edit/', photo?._id]" type="submit" class="btn">Edit</button>
        <button type="submit" class="btn">Delete</button>
    </ng-container>
    
</div>
</ng-container>