<header>
    <div class="mini-navbar-wrap">
      
        <p class="logo">
          <a routerLink="/">Photo Gallery</a>
        </p>
     
      <div class="mini-navbar">
        <ul *ngIf="!isLoggedIn">
          <li>
            <a routerLink="/">Our Photos</a>
          </li>
          <li>
            <a class="logo-wrap" routerLink="auth/login">Login</a>
          </li>
          <li>
            <a class="logo-wrap" routerLink="auth/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </header>