<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo">
          <a routerLink="/">Photo Gallery</a>
        </p>
      </div>
      <div class="mini-navbar">
        <ul *ngIf="!isLoggedIn">
          <li>
            <a routerLink="recent/catalog">Our Photos</a>
          </li>
          <li>
            <a class="logo-wrap" routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a class="logo-wrap" routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </header>